<div class="container p-5 mb-5" >
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-12">
        Личный кабинет
      </div>
    </div>
  </section>


  <div class="album py-5 bg-light mb-5">
    <div class="container">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a routerLink="/personal-area">Инфо</a></li>
        <li class="list-group-item"><a routerLink="basket.html">Корзина</a></li>
        <li class="list-group-item"><a routerLink="orders.html">Заказы</a></li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>







