<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" *ngFor="let ci of carouselItems; let idx = index" data-bs-slide-to="{{idx}}" [class.active]="idx===1"  aria-current="true" aria-label="Slide {{idx}}"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item" [class.active]="idx === 1" *ngFor="let ci of carouselItems; let idx = index">
      <img src="{{ci.imgUrl}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-white fs-2">{{ci.title}}</h5>
        <p class="text-white fs-3">{{ci.text}}</p>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
