<div class="row">
  <div class="col-12 mx-auto">
      <header class="text-center mb-5">
              <h2>Инфо</h2>
      </header>

        <form [formGroup]="UserInfoForm" (ngSubmit)="updateUserInfo()">
          <h1 class="h3 mb-3 fw-normal">Вход</h1>
          <div class="mb-3">
            <label for="inputEmailLogin" class="form-label">Email</label>
            <input type="email" id="inputEmailLogin" class="form-control" required autofocus placeholder="Введите Email" formControlName="email" disabled>
          </div>

          <div class="mb-3">
            <label for="inputFirstName" class="form-label">Имя</label>
            <input type="text" id="inputFirstName" class="form-control" required autofocus placeholder="Введите имя" formControlName="firstName">
          </div>

          <div class="mb-3">
            <label for="inputlastName" class="form-label">Фамилия</label>
            <input type="text" id="inputlastName" class="form-control" required autofocus placeholder="Введите фамилию" formControlName="lastName">
          </div>

          <div class="mb-3">
            <label for="inputphone" class="form-label">Телефон</label>
            <input type="text" id="inputphone" class="form-control" autofocus placeholder="Телефон" formControlName="phone">
          </div>

          <div class="mb-3">
            <label for="telegramId" class="form-label">Телеграм ID</label>
            <input type="text" id="telegramId" class="form-control" autofocus placeholder="Телеграм ID" formControlName="telegramId">
          </div>

          <button class="w-100 btn btn-lg btn-primary"  type="submit" >Обновить</button>

        </form>
      </div>
</div>
