<div class="container-fluid py-5 mb-5">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-12">
        <h1 class="fw-bold">Интернет магазин</h1>
        <p class="col-md-8 fs-4">Это интернет магазин компьютерной техники</p>
      </div>
    </div>
  </section>
</div>
