<main class="form-signin">

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Вход и регистрация</h1>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col">
        <form [formGroup]="LoginForm" (ngSubmit)="submitLogin()">
          <h1 class="h3 mb-3 fw-normal">Вход</h1>
          <div class="mb-3">
            <label for="inputEmailLogin" class="form-label">Email</label>
            <input type="email" id="inputEmailLogin" class="form-control" required autofocus placeholder="Введите Email" formControlName="email">
            <div class="validation" *ngIf="RegForm.get('email').invalid && RegForm.get('email').touched">
              Введите корректный Email.
            </div>
          </div>

          <div class="mb-3">
            <label for="inputPasswordLogin" class="form-label">Пароль</label>
            <input type="password" id="inputPasswordLogin" class="form-control" required="" formControlName="password" placeholder="Введите пароль">
          </div>

          <button class="w-100 btn btn-lg btn-primary" [class.disabled]="LoginForm.status !== 'VALID'" type="submit" >Выполнить</button>

        </form>
      </div>
      <div class="col">
        <form [formGroup]="RegForm" (ngSubmit)="submitRegistration()">
          <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

          <div class="mb-3">
            <label for="inputEmailReg" class="form-label">Email</label>
            <input type="email" id="inputEmailReg" class="form-control" required autofocus placeholder="Введите Email" formControlName="email">
            <div class="validation" *ngIf="RegForm.get('email').invalid && RegForm.get('email').touched">
              Введите корректный Email.
            </div>
          </div>

          <div class="mb-3">
            <label for="inputPasswordReg" class="form-label">Пароль</label>
            <input type="password" id="inputPasswordReg" class="form-control" required formControlName="password" placeholder="Введите пароль">
            <div class="validation" *ngIf="RegForm.get('password').invalid && RegForm.get('password').touched">
              <small *ngIf="RegForm.get('password').errors.required">Пароль не может быть пустым</small>
              <small *ngIf="RegForm.get('password').errors.minlength">Минимальная длинна {{RegForm.get('password').errors.minlength.requiredLength}} символов</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="inputPasswordReg2" class="form-label">Пароль</label>
            <input type="password" id="inputPasswordReg2" class="form-control" required="" formControlName="password2" placeholder="Введите пароль снова">
            <div class="validation" *ngIf="RegForm.get('password2').invalid && RegForm.get('password2').touched">
              <small *ngIf="RegForm.get('password2').errors.required">Пароль не может быть пустым</small>
              <small *ngIf="RegForm.get('password2').errors.minlength">Минимальная длинна {{RegForm.get('password2').errors.minlength.requiredLength}} символов</small>
            </div>
          </div>
         <div class="checkbox mb-3">
            <label>
              <input type="checkbox" formControlName="accept_terms"> <a [routerLink]="['/terms-of-use.html']" class="p-lg-1">Я принимаю условия</a>
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit" [class.disabled]="RegForm.status !== 'VALID'">Выполнить</button>
        </form>
      </div>
    </div>
  </div>

</main>

<style>
  .form-signin {
  width: 100%;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
