<div class="card card-body">
  <ul class="list-group">
    <li class="list-group-item border-end-0 border-top-0 border-bottom-0 mt-1 border-3" [ngClass]="{'border-success': order.status === 'completed', 'border-primary': order.status === 'new', 'border-danger': order.status==='canceled'}" *ngFor="let order of orders">
      <div class="row">
        <p>{{order.product.title}}</p>
        <app-order-item [order]="order"></app-order-item>
      </div>
    </li>
  </ul>
</div>
