<div class="carousel-item active">
  <img src="https://gotoshop.ua/img/p/2021/03/137980/2198860-137980-59111617198257104.jpg?t=t1617198237" class="d-block w-100" alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h5>First slide label</h5>
    <p>Some representative placeholder content for the first slide.</p>
  </div>
</div>
