<app-header></app-header>
<main class="flex-shrink-0">
  <router-outlet></router-outlet>
  <div class="card" id="cookie-message" *ngIf="showCookieMessage">
  <div class="card-body">
    <div class="row">
      <div class="col-10">
        Этот сайт использует куки-файлы и другие технологии, чтобы помочь вам в навигации, а также предоставить лучший пользовательский опыт. Оставаясь на сайте вы соглашаетесь с использованием файлов.
      </div>
      <div class="col-2">
        <button class="btn btn-dark btn-lg" (click)="useCookie()">Хорошо</button>
      </div>
    </div>
  </div>
</div>
</main>
<app-footer></app-footer>

