<div class="row">
          <div class="col-lg-10 mx-auto">
            <!-- Navigation-->
            <header class="text-center mb-5">
              <h2>Корзина</h2>
            </header>

            <div class="table-responsive mb-4">
              <table class="table">
                <thead class="bg-light">
                  <tr>
                    <th class="p-3 border-0" scope="col"><strong class="text-uppercase">Товар</strong></th>
                    <th class="p-3 border-0" scope="col"><strong class="text-uppercase">Цена</strong></th>
                    <th class="p-3 border-0" scope="col"><strong class="text-uppercase">Количество</strong></th>
                    <th class="p-3 border-0" scope="col"><strong class="text-uppercase">Всего</strong></th>
                    <th class="p-3 border-0" scope="col"><strong class="text-uppercase"></strong></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let productItem of products">
                    <th class="p-3 pl-0 border-0" scope="row">
                      <div class="d-flex align-items-center"><a class="reset-anchor d-block animsition-link" href="detail.html"><img src="{{productItem.imgUrl}}" alt="..." width="70"></a>
                      </div>
                    </th>
                    <td class="p-3 align-middle border-0">
                      <p class="mb-0 small">{{helperService.getCurrency()}} {{productItem.price}}</p>
                    </td>
                    <td class="p-3 align-middle border-0">
                      <input class="form-control" type="number" value="{{productItem.quantity}}">
                    </td>
                    <td class="p-3 align-middle border-0">
                      <p class="mb-0 small">{{helperService.getCurrency()}} {{productItem.price * productItem.quantity}}</p>
                    </td>
                    <td class="p-3 align-middle border-0">
                      <button type="button" class="btn btn-danger" (click)="delItem()">Удалить</button>
                    </td>
                  </tr>

                </tbody>
              </table>
              <!-- Cart footer-->
              <div class="bg-light p-4">
                <div class="row align-items-center">
                  <div class="col-md-6">
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item py-1"><button class="btn btn-outline-primary" (click)="createOrder()"> <i class="fas fa-shopping-bag me-2"></i>Заказать</button></li>
                    </ul>
                  </div>
                  <div class="col-md-6 text-start text-md-end">
                    <p class="text-muted mb-1">Всего</p>
                    <h6 class="h4 mb-0">{{helperService.getCurrency()}} {{cartTotal()}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
