<div class="container-fluid p-5 mb-5" >
  <section class="py-5 text-center container">

  </section>


    <div class="album py-5 bg-light ">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let category of categoryItems" >
              <a (click)="selectCategory(category.id)" style="cursor: pointer">{{category.title}}</a>
            </li>
          </ul>
        </div>
        <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-1" *ngFor="let item of products">
              <app-product-item [productItem]="item"></app-product-item>
            </div>
          </div>
        </div>
      </div>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <button class="btn btn-secondary btn-lg my-2" (click)="showMoreProducts()" *ngIf="noProducts === false">Показать еще</button>
          </div>
        </div>
      </section>
    </div>
  </div>

</div>
