<div class="card">
  <img src="{{productItem.imgUrl}}" class="card-img-top" alt="{{productItem.title}}">
  <div class="card-body">
    <h5 class="card-title">{{productItem.title}}</h5>
    <p class="card-text">Цена: {{productItem.price}} {{helperService.getCurrency()}}</p>
  </div>
  <div class="card-footer d-flex justify-content-center bg-white">
    <button type="button" class="btn btn-outline-dark btn-lg rounded-pill" (click)="addToBasket(productItem.id)">Заказать</button>
  </div>
</div>
