<main>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <h4>Условия использования</h4>
                    <div class="box">
                <h1>Пользовательское соглашение</h1>

                <div id="post-content">
                   <p>1. Условия использования сайта <a href="https://elocal.online">elocal.online</a></p>
                  <p>
                1.1. Настоящее Пользовательское соглашение (далее — Соглашение) регулирует отношения между Администрацией сайта elocal.online (далее — Администрация Сайта) и Пользователем данного Сайта (далее — Пользователь).
            </p>
            <p>
                1.2. Сайт <a href="http://elocal.online">elocal.online</a> (далее — Сайт) предоставляет услуги размещения информации о предложениях купли – продажи, обмена товаров и услуг от собственников/продавцов таких товаров и услуг.
            </p>

            <p>
                1.3. Пользователь Сайта — любое физическое лицо, когда-либо осуществившее доступ к Сайту, достигшее возраста, допустимого для акцепта настоящего Соглашения.
            </p>
            <p>
                1.4. Пользователь обязан полностью ознакомиться с настоящим Соглашением до момента регистрации на Сайте. Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем настоящего Соглашения. В случае несогласия с условиями Соглашения, использование Сайта Пользователем должно быть немедленно прекращено.
            </p>
            <p>
                1.5. Настоящее Соглашение может быть изменено и/или дополнено Администрацией Сайта в одностороннем порядке без какого-либо специального уведомления. Настоящее Соглашение является открытым и общедоступным документом.
            </p>

                1.6. Соглашение предусматривает взаимные права и обязанности Пользователя и Администрации Сайта по следующим пунктам:
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Условия использования Сайта.</li>
                    <li class="list-group-item">Порядок использования Сайта.</li>
                    <li class="list-group-item">Персональная информация Пользователя.</li>
                    <li class="list-group-item">Ответственность Администрации Сайта.</li>
                    <li class="list-group-item">Обязанности Пользователя Сайта.</li>
                    <li class="list-group-item">Порядок действия Соглашения.</li>
                    <li class="list-group-item">Правообладателям.</li>
                </ul>



                <h5>2. Порядок использования Сайта</h5>


            <p>
                2.1. Администрация Сайта позволяет Пользователю просматривать и загружать информацию с Сайта исключительно для личного некоммерческого использования. Запрещается изменять материалы Сайта, распространять для общественных или коммерческих целей. Любое использование информации на других сайтах или в компьютерных сетях запрещается.
            </p>

            <p>
                2.2. При регистрации на Сайте и оформлении заказов, Пользователь соглашается предоставить достоверную и точную информацию о себе и свои контактные данные. Администрация Сайта оставляет за собой право рассылать акционные предложения на номер и/или электронную почту Пользователя, указанные в заказе. При отказе Администрация Сайта обязуется исключить адрес Пользователя из рассылки.
            </p>

            <p>
                2.3. Пользователь может обращаться к Администрации Сайта с вопросами, претензиями, пожеланиями по улучшению работы, либо с какой-либо иной информацией путем отправки электронного письма на podwar2008@gmail.com. При этом Пользователь несет ответственность, что данное обращение не является незаконным, угрожающим, не нарушает авторские права, дискриминацию людей по какому-либо признаку, а также не содержит оскорбления либо иным образом не нарушает действующее законодательство Украины.
            </p>


                <h5>3. Персональная информация Пользователя</h5>


            <p>3.1. Администрация Сайта с уважением и ответственностью относится к конфиденциальной информации любого лица, посетившего Сайт. Принимая Соглашение, Пользователь дает согласие на сбор и использование определенной информации о Пользователе в соответствии с положениями Закона Украины «О защите персональных данных» и политикой Администрации Сайта о защите персональных данных. Кроме того, Пользователь дает согласие, что Администрация Сайта может собирать, использовать, передавать, обрабатывать и поддерживать информацию, связанную с аккаунтом Пользователя с целью предоставления соответствующих услуг.</p>
            <p>
                3.2. Администрация Сайта обязуется осуществлять сбор только той персональной информации, которую Пользователь предоставляет добровольно в случае, когда информация нужна для предоставления (улучшения) услуг Пользователю.
            </p>
            <p>
                3.3. Администрация Сайта собирает как основные персональные данные, такие как имя, фамилия, отчество, адрес и электронный адрес, номер контактного телефона, так и вторичные (технические) данные: файлы cookies, информация о соединениях и системная информация.
            </p>

            <p>3.4. Пользователь соглашается с тем, что конфиденциальность переданных через интернет данных не гарантирована в случае, если доступ к этим данным получен третьими лицами вне зоны технических средств связи, подвластных Администрации Сайта. Администрация Сайта не несет ответственности за ущерб, нанесенный таким доступом.</p>

            <p>3.5. Администрация Сайта может использовать любую собранную через Сайт информацию с целью улучшения содержания Сайта, его доработки, передачи информации Пользователю (по запросам), для маркетинговых или исследовательских целей, а также для других целей, не противоречащим положениям действующего законодательства Украины.</p>


            <h5>4. Ответственность Администрации Сайта</h5>

            <p>4.1. Администрация Сайта вправе:</p>

            <p>
                4.1.1. Без предварительного уведомления Пользователя прекратить и/или заблокировать доступ к Сайту, если Пользователь нарушил настоящее Соглашение или содержащиеся в иных документах условия пользования Сайтом, а также в случае прекращения действия Сайта либо по причине технической неполадки или проблемы.
            </p>

            <p>
                4.1.2 В любое время без уведомления Пользователя вносить изменения в перечень Товаров и услуг, предлагаемых на Сайте, и/или в характеристики, цены, применимые к таким Товарам и/или к оказываемым услугам.
            </p>

            <p>
                4.1.3. Удалять размещенную на Сайте информацию и предпринимать технические и юридические меры для прекращения доступа к Сайту Пользователей, создающих, согласно заключению Администрации Сайта, проблемы в использовании Сайта другими Пользователями, или Пользователей, нарушающих требования Соглашения.
            </p>

            <p>
                4.2. Администрация Сайта не несет никакой ответственности:
            </p>

            <p>4.2.1 За любые ошибки, опечатки и неточности, которые могут быть обнаружены в материалах, содержащихся на данном Сайте. Администрация Сайта прикладывает все необходимые усилия, чтобы обеспечить точность и достоверность представляемой на Сайте информации.</p>

            <p>
                4.2.2. За высказывания и мнения посетителей Сайта, оставленные в качестве комментариев или обзоров. Мнение Администрации Сайта может не совпадать с мнением и позицией авторов обзоров и комментариев. В то же время Администрация Сайта принимает все возможные меры, чтобы не допускать публикацию сообщений, нарушающих действующее законодательство или нормы морали.
            </p>

            <p>
                4.2.3. За возможные противоправные действия Пользователя относительно третьих лиц, либо третьих лиц относительно Пользователя.
            </p>

            <p>
                4.2.4. За высказывания Пользователя, произведенные или опубликованные на Сайте.
            </p>

            <p>4.2.5. За ущерб, убытки или расходы (реальные либо возможные), возникшие в связи с настоящим Сайтом, его использованием или невозможностью использования.</p>

            <p>
                4.2.6. За неполное, неточное, некорректное указание Пользователем своих данных при создании учетной записи Пользователя.
            </p>

            <p>4.2.7. За действия систем переводов, банков, платежных систем и за задержки, связанные с их работой.</p>

            <p>4.2.8. За ненадлежащее функционирование Сайта в случае, если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению Пользователей такими средствами.</p>

            <p>4.2.9. За содержание предложений купли – продажи, обмена товаров и услуг (включая фото, логотипы товаров и/или услуг) собственников/продавцов таких товаров и услуг.</p>

            <p>4.2.10. Перед Пользователем или третьими лицами за прекращение доступа к Сайту в случае нарушения Пользователем любого положения настоящего Соглашения или иного документа, содержащего условия пользования Сайтом.</p>

            <p>4.3. Информация на Сайте постоянно обновляется и в любой момент может стать устаревшей. Администрация Сайта не несет ответственности за получение устаревшей информации с Сайта, а также за неспособность Пользователя получить обновленную информацию.</p>

            <p>
                4.4. Комментарии (текстовые материалы), размещенные на Сайте, являются интеллектуальной собственностью Сайта.
            </p>

            <p>
                4.5. При возникновении проблем в использовании Сайта, несогласия с конкретными разделами Соглашения, либо получении Пользователем недостоверной информации от третьих лиц, либо информации оскорбительного характера, любой иной неприемлемой информации, пожалуйста, обратитесь к Администрации Сайта путем отправки электронного письма на podwar2008@gmail.com для того, чтобы Администрация Сайта могла проанализировать и устранить соответствующие дефекты, ограничить и предотвратить поступление на Сайт нежелательной информации, а также при необходимости ограничить либо прекратить обязательства по предоставлению своих услуг любому Пользователю и клиенту, умышленно нарушающему предписания Соглашения и функционирование работы Сайта.
            </p>

            <p>
                4.6. В случае возникновения споров между Пользователем и собственником/продавцом товаров и/или услуг, такие споры решаются ими самостоятельно без привлечения Администрации Сайта.
            </p>



                <h5>5. Обязанности Пользователя Сайта</h5>


            <p>5.1. Пользователю Сайта запрещается:</p>
            <p>5.1.1. Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или отслеживания содержания Сайта.</p>

            <p>5.1.2. Нарушать надлежащее функционирование Сайта.</p>

            <p>5.1.3. Любым способом обходить навигационную структуру Сайта для получения или попытки получения любой информации, документов или материалов любыми средствами, которые специально не представлены сервисами Сайта.</p>

            <p>5.1.4. Несанкционированный доступ к функциям Сайта, любым другим системам или сетям, относящимся к Сайту, а также к любым услугам, предлагаемым на Сайте.</p>

            <p>5.1.5. Нарушать систему безопасности или аутентификации на Сайте или в любой сети, относящейся к Сайту.</p>

            <p>5.1.6. Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом другом Пользователе Сайта.</p>

            <p>5.1.7. Использовать Сайт и его Содержание в любых целях, запрещенных законодательством Украины, а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права Сайта или других лиц.</p>

            <p>5.2. Пользователь Сайта обязуется не использовать сервисы Сайта с целью:</p>

            <p>5.2.1. Загрузки контента, который является незаконным, нарушает любые права третьих лиц; пропагандирует насилие, жестокость, ненависть и (или) дискриминацию по расовому, национальному, половому, религиозному, социальному признакам; содержит недостоверные сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти.</p>

            <p>5.2.2. Побуждения к совершению противоправных действий, а также содействия лицам, действия которых направлены на нарушение ограничений и запретов, действующих на территории Украины.</p>

            <p>5.2.3. Нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме.</p>

            <p>5.2.4. Ущемления прав меньшинств.</p>

            <p>5.2.5. Представления себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав, в том числе за сотрудников Сайта.</p>

            <p>5.2.6. Введения в заблуждение относительно свойств и характеристик какихого-либо товара и/или услуги, информация о которых размещена на Сайте.</p>

            <p>5.2.7. Некорректного сравнения товара и/или услуги, а также формирования негативного отношения к лицам, (не) пользующимся определенными товарами и/или услугами, или осуждения таких лиц.</p>


                <h5>6. Порядок действия Соглашения</h5>


            <p>
                6.1. Настоящее Соглашение является публичным договором. Администрация Сайта оставляет за собой право как изменить настоящее Соглашение, так и ввести новое. Подобные изменения вступают в силу с момента их размещения на Сайте. Использование Пользователем материалов Сайта после изменения Соглашения автоматически означает их принятие.
            </p>

            <p>
                6.2. Данное Соглашение вступает в силу при первом посещении Сайта Пользователем и действует между Пользователем и Администрацией Сайта на протяжении всего периода использования Пользователем Сайта.
            </p>

            <p>
                6.3. Сайт является объектом права интеллектуальной собственности Администрации Сайта. Все имущественные авторские права на Сайт принадлежат Администрации Сайта. Использование Сайта Пользователями возможно строго в рамках Соглашения и законодательства Украины о правах интеллектуальной собственности.
            </p>

            <p>
                6.4. Знак на товарах и услугах, который используется в материалах Сайта, является собственностью его владельца и используется Администрацией Сайта на основании лицензионного договора с владельцем знака.
            </p>

            <p>6.5. Пользователь соглашается не воспроизводить, не повторять, не копировать какие-либо части Сайта, кроме тех случаев, когда такое разрешение дано Пользователю Администрацией Сайта.</p>

            <p>6.6. Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Украины. Вопросы, не урегулированные Соглашением, подлежат разрешению в соответствии с законодательством Украины.</p>

            <h5>7. Правообладателям:</h5>
            <p>7.1. Если вы нашли на сайте незаконно опубликованную вашу интеллектуальную собственность (фото, текст и др.), свяжитесь с Администрацией Сайта для устранения проблемы путем отправки электронного письма на podwar2008@gmail.com.</p>
            <p>7.2. Ответственность за предложения к продаже (их содержание, фото, логотипы и т.д.) тех или иных товаров и/или услуг, размещенных на Сайте, (в том числе касательно нарушений прав интеллектуальной собственности) несут непосредственно собственники/продавцы таких товаров и/или услуг.</p>


                </div>

              </div>
  </div>

</section>
</main>
