<div class="container p-5 mb-5" >
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-12">
        <app-index-page-carousel [carouselItems]="carouselItems" *ngIf="carouselItems.length > 0"></app-index-page-carousel>
      </div>
    </div>
  </section>


    <div class="album py-5 bg-light mb-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let item of products.slice(0, 6)">
          <app-product-item [productItem]="item"></app-product-item>
        </div>
      </div>
    </div>
  </div>
</div>



