<p>
  <button class="btn btn-outline-link" data-bs-toggle="collapse" role="button" aria-expanded="false" [attr.aria-controls]="'order' + order.id" (click)="changeShowDetails()" *ngIf="!showDetails">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M5.22 8.72a.75.75 0 000 1.06l6.25 6.25a.75.75 0 001.06 0l6.25-6.25a.75.75 0 00-1.06-1.06L12 14.44 6.28 8.72a.75.75 0 00-1.06 0z"></path></svg>
  </button>
  <button class="btn btn-outline-link" type="button" data-bs-toggle="collapse" [attr.data-bs-toggl]="getBsTarget()" aria-expanded="false" [attr.aria-controls]="'order' + order.id" (click)="changeShowDetails()" *ngIf="showDetails">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M18.78 15.28a.75.75 0 000-1.06l-6.25-6.25a.75.75 0 00-1.06 0l-6.25 6.25a.75.75 0 101.06 1.06L12 9.56l5.72 5.72a.75.75 0 001.06 0z"></path></svg>
  </button>
</p>
<div>
  <div class="card card-body" *ngIf="showDetails">
    {{order.id}}
  </div>
</div>
